// create an .env file and generate your own API Key form (https://rapidapi.com/collection/jokes) just like this and add it to .env file

Jokes_API_KEY=f3e5bb1435mshd5aa99c463b314bp171acajsna1c014af43f3


**Note this API KEY will not work as it is just a dummy key!!

